.env
.env.*
!.env.example

.venv/
venv/
env/


django.log
*.log

staticfiles/
media/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/

firebase-service-account.json